.task {
    background-color: aqua;
    border: 3px solid yellow;
    padding: 1rem;
    text-align: center;
    margin-right: 40px;
    size: 1.5em;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.active {
    background-color: yellow;
    border: 1px solid yellow;
    padding: 1rem;
}
section{
    margin-top: 20px;
    display: inline-table;
    border: 3px solid blue;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 155px;
}
ul {
    list-style-type: none;
}/*
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz-eJmvQnM5YyC8UwvvIr56hMyQr0Wa6vppA&usqp=CAU");
}*/
header {
    text-align: center;
}
button:hover {
   color:navy;
   background-color: deeppink;
}
h2 {
    color: royalblue;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: violet;
}
